env/

backend/BDConnection/

# Ignorar carpetas de paquetes de python
__pycache__/
*.pyc


# Isolated Environmente de prueba
envprueba/

#Para no subir lo de staticfiles y archivos generados en debug
backend/staticfiles/
backend/debug.log
